.date {
    margin-left: 10%;
    font-size: 20px;
    color: rgb(12, 3, 3);
  }
  /* .time{
    margin-left: 1%;
    margin-top: 2%;
    font-size: 17px;
    color: rgb(12, 3, 3);

  } */
  .spacer {
    flex: 1 1 auto;
  }
  
  
  .badge{
    background-color: #0BDA51;
    font-size: 0.9rem;
  }
  
  